body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo-block {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}
.logo {
    height: 120px;
    margin-right: 20px;
}
.controls {
    text-align: center;
    margin: 20px;
}
.controls button, .controls input[type="text"] {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-box {
    margin: 10px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
}
.video-box img {
    width: 640px;
    border-radius: 8px;
}

/* Стилизация видеопотоков */
.camera-feed {
    width: 600px;
    height: 340px;
    object-fit: cover;
    border: 2px solid #444;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* Стилизация кнопок */
.control-button {
    background-color: #32CD32;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.control-button:hover {
    background-color: #32CD32;
}
