opencv-python
numpy==1.26.4
mmcv==2.1.0
mmdet==3.3.0
mmengine==0.10.4
torch==2.3.1
onnxruntime==1.18.0
# pip install "openvino-dev<=2024.6.0" --force-reinstall   ## Если openvino-dev ругается на версию питона
#git clone -b main https://github.com/open-mmlab/mmdeploy.git
#git clone -b 3.x https://github.com/open-mmlab/mmdetection.git
